body {
	margin: 0px;
	padding: 0px;
	background: #FFCC00;
	font-family: "Heiti TC";
	font-size: 18px;
}

#pagewrap {
	width: 100%;
	margin-top: 50px;
	border: 1px solid black;
	overflow: hidden;
}

header {
	text-align: center;
	font-size: 48px;
}

#login {
	text-align: center;
	border: 1px solid red;
	padding: 10px;
}

#button {
	border: 5px solid black;
	border-radius: 50px;
	padding: 10px;
}

#map {
	display: inline-block;
	width: 65%;
	height: 500px;
	float: left;
	border: 1px solid orange;
}

#friendlist {
	position: absolute;
	display: inline-block;
	background: #505050;
	width: 35%;
	height: 500px;
	border: 1px solid blue;
	border-radius: 10px;
	/* change this stuff on log in */
	background: #505050;
	text-align: center;
	color: #A0A0A0;
	padding-top: 20px;
	/*----------------------------*/
	margin-left: 5px;
}

#friendlist ul {
	padding: 0px;
	margin: 0px;
}

#friendlist ul li {
	padding: 10px;
	list-style-type: none;
}

#map-canvas {
	display: inline-block;
	height: 500px;
	width: 60%;
}