body {
	margin: 0px;
	padding: 0px;
	background: #FFCC00;
	font-family: "Heiti TC", Arial, sans-serif;
	font-size: 18px;
}

#pagewrap {
	width: 100%;
	margin-top: 50px;
	border: 2px solid black;
	text-align: center;
	overflow: hidden;
}

header {
	text-align: center;
	font-size: 48px;
}

h1 {
	font-weight: bolder;
}

.panel {
	background-color: #F5F5F5;
}

#login {
	display: inline-block;
	text-align: left;
	border: 1px solid red;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	overflow: hidden;
}

.info {
	width: 400px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

#button {
	border: 5px solid black;
	border-radius: 50px;
	padding: 10px;
	display: none; /* log in */
}

#mapwrap {
	padding-left: 10px;
}

#contentwrap {
	 overflow: hidden;
}

#friendlist {
	display: inline-block;
	width: 35%;
	text-align: left;
	color: black;
	border-radius: 10px;
	max-height: 500px;
}

#friendlist ul {
	padding: 0px;
	margin: 0px;
}

#friendlist ul li {
	display: inline-flex;
	width: 100%;
	float: left;
	clear: left;
	padding: 10px;
	list-style-type: none;
	border: 2px solid #050403;
	border-radius: 10px;
	margin-bottom: 5px;
}

#name {
	display: inline;
	padding-left: 10px;
}

.smallinfo {
	display: inline-block;
	font-size: 10pt;
	margin-left: 20%;
}

#map-canvas { 
	display: inline-block;
	float: left;
	width: 60%;
	height: 500px;
}

.input-group {
	margin-top: 5px;
}

.time-group {
	padding-top: 20px;
	font-weight: bolder;
	text-align: center;
}

.navbar {
	background-color: rgba(218, 221, 217, 0);
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}

#navbrand {
	font-family: "Geeza Pro";
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	color: #22240C;
}

#navbrand:hover {
	color: rgb(255, 60, 60)
}

.navbar-inverse {
	border: none;
}

input {
	padding: 10px;
}

select {
	vertical-align: text-bottom;
	margin-right: 5px;
}

input[type=submit] {
	display: table;
	height: 120px;
	background: rgb(255, 60, 60);
	font-weight: bold;
	border: 2px solid black;
	border-radius: 10px;
}

footer {
	height: 25px;
}