
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="">

	<title>Lunch With Friends</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/index.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/request.js"></script>

	<!-- Josh map stuff -->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO4GPOyB-CGxEnbqT-KAJHD9VUYjPCPVE&amp;sensor=true"></script>
	<script type="text/javascript" src="js/map.js"></script>


</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" id="navbrand" href="#">Lunch with Friends</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about"></a></li>
					<li><a href="#contact"></a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">
		<div id="pagewrap">
			<header>
				<h1>Lunchify</h1>
			</header>
			<div id="login" class="panel panel-default">
			<form>
				<div class="info">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						<input type="text" class="form-control" name='q' placeholder="Search">
					</div>

					<div class="time-group">
						Start time: <select name="startdatetime">
							<option value="1230">12:30am</option>
						</select>
					</div>
				</div>
				<div class="info">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-cutlery"></span></span>
						<input type="text" class="form-control" name='preference' placeholder="Food Preference (e.g. 'Sushi')">
					</div>
					<div class="time-group">
						End time: <select name="enddatetime">
							<option value="1330">1:30pm</option>
						</select>
					</div>
				</div>
				<input type="submit" id="submitButton" value="Join Lunchline" />
			</form>
				<span id="button">Log in, Motherfucker</span>
			</div>
			<div id="contentwrap">
				<div id="mapwrap">
				<div id="map-canvas"></div>
				</div>
				<div id="friendlist">
					<ul>
					</ul>
				</div>
			</div>
			<footer>
				
			</footer>
		</div><!-- /.container -->
</body>
</html>
